@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html { height: 100%; }

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: auto 50px;
    grid-template-columns: 12% auto;
    grid-template-areas:
        "sidebar right"
        "footer  footer";
}

a { text-decoration: none; }
ul { list-style-type: none; float: right; }
ul li {
    display: inline;
}
ul li a { color: #fff; padding: 15px; }

#logo {
    padding: 15px;
    margin-left: 15px;
    background-color: #f3f1c7;
    color: #298383;
    text-align: center;
}

header {
    grid-area: head;
    background-color: #41c7c7;
    display: grid;
    grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}

section#hero {
    grid-area: hero;
    background-color: #37adad;
    padding: 2em;
    border-top: 5px solid #2ea0a0;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#content h1 {
    text-transform: uppercase;
    color: #fffbc5;
}

#content p {
    color: #fff;
}

img {
    width: 100%;
    background-size: cover;
    margin: 0 auto;
}

#mountain {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.sidebar {
    grid-area: sidebar;
    background: #1c9090;
    color: #fff;
    padding: 1em;
}

.main {
    grid-area: right;
    display: grid;
    grid-template-rows: 51px fit-content(30%) 40% auto;
    grid-template-areas:
        "head"
        "hero"
        "invention"
        "features";
}

footer {
    grid-area: footer;
    background: lightgray;
}

#features {
    grid-area: features;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 0;
    padding: 0;
    text-align: center;
}

#features i {
    font-size: 2em;
}

#features li {
    background-color: lightgray;
    padding: 1em;
    align-self: stretch;
}

#features li p {
    color: #4c4c4c;
}

ul#features li:nth-child(1) {
    background-color: #e6e6e6;
}

ul#features li:nth-child(2) {
    background-color: #d3d3d3;
}

ul#features li:nth-child(3) {
    background-color: #cacaca;
}

ul#features li:nth-child(4) {
    background-color: #e6e6e6;
}

ul#features li:nth-child(5) {
    background-color: #d3d3d3;
}

section#info {
    grid-area: invention;
    background-color: #f2f2f2;
    padding: 2em;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: space-around;
}

#mountain-vector {
    width: 200px;
    align-self: center;
}

/* Tablets media queries */
@media screen and (max-width: 60em) {
    .sidebar {
        display: none;
    }

    body {
        grid-template-columns: auto;
        grid-template-areas:
            "right"
            "footer";
    }

    .main {
        grid-template-areas:
            "head"
            "hero"
            "features"
            "invention";
    }

    #features {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }

    ul#features li:nth-child(5) {
        grid-column: 1 / span 2;
    }
}

/* Smartphone media queries */
@media screen and (max-width: 40em) {
    .main {
        grid-template-rows: auto fit-content(30%) 40% auto;
    }

    header {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
    }

    #logo {
        margin-left: 0;
    }

    nav ul {
        float: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    nav ul li a {
        width: calc(25% - 35px);
        display: inline-block;
        font-size: .9em;
    }

    section#hero, section#info {
        grid-template-columns: auto;
        text-align: center;
    }

    .main {
        grid-template-areas:
            "head"
            "hero"
            "invention"
            "features";
    }

    h1, h2 {
        font-size: 1.2em;
    }

    #features {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
    }

    ul#features li:nth-child(1), ul#features li:nth-child(2) {
        grid-column: 1 / span 2;
    }

    footer {
        background-color: #41c7c7;
    }

    footer p {
        color: #fff;
        text-align: center;
    }
}



